!!! 5
//if lt IE 7
  html.ng-csp.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.ng-csp.lt-ie9.lt-ie8  
//if IE 8
  html.ng-csp.lt-ie9  
// [if gt IE 8] <!
html.ng-csp
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css({.tmp,app}) styles/main.css
    link(rel='stylesheet', href='styles/bootstrap.css')
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body(ng-app='courtSearchApp')

    //if lt IE 7
      p.chromeframe
        | You are using an outdated browser.
        a(href='http://browsehappy.com/') Upgrade your browser today
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
        | to better experience this site.
    //if lt IE 9
      script(src='bower_components/es5-shim/es5-shim.js')
      script(src='bower_components/json3/lib/json3.min.js')

    // Add your site or application content here

    //
      .navbar.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='../') Bootswatch
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.dropdown
              a#themes.dropdown-toggle(data-toggle='dropdown', href='#')
                | Themes
                span.caret
              ul.dropdown-menu(aria-labelledby='themes')
                li
                  a(tabindex='-1', href='../default/') Default
                li.divider
                li
                  a(tabindex='-1', href='../amelia/') Amelia
                li
                  a(tabindex='-1', href='../cerulean/') Cerulean
                li
                  a(tabindex='-1', href='../cosmo/') Cosmo
                li
                  a(tabindex='-1', href='../cyborg/') Cyborg
                li
                  a(tabindex='-1', href='../flatly/') Flatly
                li
                  a(tabindex='-1', href='../journal/') Journal
                li
                  a(tabindex='-1', href='../readable/') Readable
                li
                  a(tabindex='-1', href='../simplex/') Simplex
                li
                  a(tabindex='-1', href='../slate/') Slate

                li
                  a(tabindex='-1', href='../spacelab/') Spacelab
                li
                  a(tabindex='-1', href='../united/') United
            li.dropdown
              a#download.dropdown-toggle(data-toggle='dropdown', href='#')
                | Download
                span.caret
              ul.dropdown-menu(aria-labelledby='download')
                li
                  a(tabindex='-1', href='./bootstrap.min.css') bootstrap.min.css
                li
                  a(tabindex='-1', href='./bootstrap.css') bootstrap.css
            li
              a(href='../help/') Help
            li
              a(href='http://news.bootswatch.com') Blog
          ul.nav.navbar-nav.navbar-right
            li
              a(href='http://builtwithbootstrap.com/', target='_blank') Built With Bootstrap
            li
              a(href='https://wrapbootstrap.com/?ref=bsw', target='_blank') WrapBootstrap

    .container(ng-view='')

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    //
      script.
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));

    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')

    // for Google Maps
    script(src='bower_components/angular-ui-utils/modules/event/event.js')
    script(src='bower_components/angular-ui-map/src/map.js')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady')
    script.
      function onGoogleReady() {
        angular.bootstrap(document.getElementById("map-canvas"), ['courtSearchApp']);
      }

    // build:js scripts/modules.js
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    // endbuild

    // build:js({.tmp,app}) scripts/scripts.js
    script(src='scripts/app.js')
    script(src='scripts/controllers/main.js')
    script(src='scripts/controllers/place-list.js')
    script(src='scripts/controllers/map.js')
    // endbuild

