.navbar.navbar-static-top
  .navbar-inner
    .container
      a.btn.btn-navbar(ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed")
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.brand(href="#/") Court Search

      .nav-collapse.collapse.navbar-responsive-collapse(collapse="navCollapsed")
        ul.nav
          li
            a(href="#/place-list") Search
          li
            a(href="#/place-new") Upload
          li
            a(href="#/account-create") Sign up
