.controller(ng-controller="PlaceListCtrl")
  accordion(class-others="oneAtTime")
    accordion-group(ng-repeat="place in places", heading="{{ place.name }}", ng-click="setCenter(place)")
      dl
        dt Latitude
        dd {{ place.latitude }}
        dt Longitude
        dd {{ place.longitude }}
        dt Address
        dd {{ place.address }}
        dt Phone
        dd {{ place.phone }}


.controller(ng-controller="MapCtrl")
  //.map-canvas(ui-map="myMap", ui-options="mapOptions")

  #map-canvas.span8.map(ui-map="myMap", ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }", ui-options="mapOptions")
