.controller(ng-controller="PlaceListCtrl")
  script.
    onGoogleReady();

  accordion(class-others="oneAtTime")
    accordion-group(ng-repeat="place in data.places", heading="{{ place.name }}", ng-click="setCenter(place)")
      dl(ng-click="setCenter(place)")
        dt Latitude
        dd {{ place.latitude }}
        dt Longitude
        dd {{ place.longitude }}
        dt Address
        dd {{ place.address }}
        dt Phone
        dd {{ place.phone }}

  #map-canvas.span8.map(ui-map="csMap", ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(csMap.getZoom())' }", ui-options="mapOptions")

